.topDisplay {
    border-style: solid;
    border-color: black;
    height: 30px;
    width: 250px;
    margin: 10px;
}

button {
    margin: 10px;
    height: 25px;
    width: 25px;
}

#buttonClear, #buttonBackspace {
    width: 75px;
}